<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>update</title>
</head>
<body>
<form  th:method="POST" th:action="@{update}" th:object="${user}" >
  <input type="hidden" th:field="*{id}" th:value="${user.id}">
  <label for="username">Name</label>
  <input type="text" th:field="*{username}" id="username" th:value="${user.username}">
  <label for="password">password</label>
  <input type="text" th:field="*{password}" id="password"  th:value="${user.password}">
  <input type="submit" value="Update User">
  <p>
    <label>Roles:
      <input type="checkbox" name="role"
             th:each="role : ${allRoles}"
             th:text="${role.role}"
             th:value="${role.id}"
             th:checked="${user.roles.contains(role)}"
      />
    </label>
  </p>
</form>
</body>
</html>